*bedpe
*bed
__pycache__
*pyc
lightning_logs/
*out
*log
*slurm
*fa
predictions*/
tb_logs/
Interaction3DPredictor*/
mock/
wandb/
hic/
logs/
*.ckpt
test_model_folder/
gen_all_exp.py
run_all_experiments.sh
*top*
models/
scripts/results_csv/
scripts/out/