*bedpe
__pycache__
*pyc
lightning_logs/
*out
*log
*slurm
*fa
predictions*/
tb_logs/
Interaction3DPredictor*/
wandb/
hic/
logs/
*.ckpt
test_model_folder/
gen_all_exp.py
*.sh
*top*
models/
scripts/results_csv/
scripts/out/
*mcool
scripts/out_epi/
results_csv/
scripts/out/
TADbit-master
tads/
loops/
*csv
*png
*svg
