Bio==1.7.1
biopython==1.81
cooler==0.10.2
denoising_diffusion_pytorch==1.8.11
einops==0.8.0
hicreppy==0.1.0
lightning==2.3.1
matplotlib==3.7.2
numpy==1.25.2
pandas==2.2.3
pyranges==0.0.129
scipy==1.14.1
seaborn==0.13.2
scikit-image==0.21.0
torch==2.3.1
torchmetrics==1.4.0.post0
torchvision==0.18.1
tqdm==4.66.1
wandb==0.17.1
